
ScrabbleManiaProject/ScrabbleMania/.vs/ScrabbleMania/v16/Browse.VC.db
ScrabbleManiaProject/ScrabbleMania/.vs/ScrabbleMania/v16/Browse.VC.opendb

ScrabbleManiaProject/ScrabbleMania/scrabble
ScrabbleManiaProject/ScrabbleMania/scrabble.dSYM/*
*.ipch
ScrabbleManiaProject/ScrabbleMania/.vs/ScrabbleMania/v15/Browse.VC.opendb
ScrabbleManiaProject/ScrabbleMania/.vs/ScrabbleMania/v15/Browse.VC.db

# Ignore executables
ScrabbleManiaProject/ScrabbleMania/Client
ScrabbleManiaProject/ScrabbleMania/Server
ScrabbleManiaProject/ScrabbleMania/*.o
