
ScrabbleManiaProject/ScrabbleMania/.vs/ScrabbleMania/v16/Browse.VC.db
ScrabbleManiaProject/ScrabbleMania/.vs/ScrabbleMania/v16/Browse.VC.opendb

ScrabbleManiaProject/ScrabbleMania/scrabble
ScrabbleManiaProject/ScrabbleMania/scrabble.dSYM/*
